{% extends 'frontend/start/index.html.twig' %}
{% block body_intro %}{% endblock %}
{% block body_content_top %}{% endblock %}
{% block body_content_main %}
<div class="container">
    <article class="my-4">
        <h1 class="display-4">So finden Sie den passenden Rollator</h1>
        <h2 class="text-muted small">Worauf Sie vor einem Kauf achten sollten</h2>
        <section class="d-inline-block">
            <p class="lead text-justify">
                Rollatoren geh&ouml;ren inzwischen zum Alltag. Er ist n&uuml;tzlicher Begleiter, wenn Gleichgewicht und Kraft beim Gehen nicht mehr so richtig mitmachen. Nicht umsonst gibt es die rollenden Begleiter selbst  im Discounter-Regal zum branchen&uuml;blichen Schn&auml;ppchen-Preis. Ob billig auch gleichzeitig gut ist, h&auml;ngt aber letztlich davon ab, wof&uuml;r Sie das Hilfsmittel nutzen wollen. So gibt es Rollatoren f&uuml;r den Alltag ebenso wie f&uuml;r die eigenen vier W&auml;nde – und nat&uuml;rlich Modelle, die beides k&ouml;nnen. Verarbeitung, Material, Transport, Abstellm&ouml;glichkeit und praktisches Zubeh&ouml;r – es gibt viele sinnvolle Details, die man neben dem Schn&auml;ppchen-Preis auf jeden Fall beachten sollte. Welcher Rollatoren-Typ f&uuml;r Sie der richtige ist, h&auml;ngt letztlich von Ihren W&uuml;nschen ab. Denn Alltagstauglichkeit bei Wind und Wetter oder ein geringes Gewicht bedeuten zugleich h&ouml;here Anspr&uuml;che an Material und Verarbeitung als f&uuml;r die Nutzung daheim. Wir zeigen Ihnen, auf was Sie schauen sollten – bevor Sie einen Rollator-Kauf t&auml;tigen!
            </p>
        </section>
        <section class="d-inline-block">
            <h3>Klein, leicht, wendig: der &quot;Home Boy&quot;</h3>
            <picture>
                <source srcset="{{ asset('build/media/server_front_web_small.webp') }}" type="image/webp">
                <source srcset="{{ asset('build/media/server_front_web_small.jp2') }}" type="image/jp2">
                <img src="{{ asset('build/media/server_front_web_small.jpg') }}" alt="" class="float-right img-thumbnail w-25 m-4" />
            </picture>
            <p class="lead text-justify">Wer nicht mehr gut zu Fu&szlig; ist, aber daheim keine extra Haltegriffe an den W&auml;nden und T&uuml;rpfosten anbringen mag, f&uuml;r den sind die schmalen Flitzer auf vier Rollen eine Alternative. Neben der Beweglichkeit sollte man auf glatten B&ouml;den an rutschsichere gummierte R&auml;der denken. Auch Teppichkanten und T&uuml;rschwellen sollten gut zu meistern sein. Sinnvoll: ein sogenannter &quot;Kantenabweiser&quot; an den Hinterr&auml;dern. Er sch&uuml;tzt M&ouml;bel und T&uuml;rrahmen und hilft beim sicheren Man&ouml;vrieren. Ein n&uuml;tzliches Extra ist ein integriertes Transport-Tablett, wenn beispielsweise doch im Wohnzimmer statt in der K&uuml;che gegessen werden soll…</p>
        </section>
        <section class="d-inline-block">
            <h3>&quot;Klassiker&quot;: Der Rollator f&uuml;r Eink&auml;ufe, Spaziergang & Co.</h3>
            <picture>
                <source srcset="{{ asset('build/media/athlonsl_front_web_small.webp') }}" type="image/webp">
                <source srcset="{{ asset('build/media/athlonsl_front_web_small.jp2') }}" type="image/jp2">
                <img src="{{ asset('build/media/athlonsl_front_web_small.jpg') }}" alt="" class="float-left img-thumbnail w-25 m-4" />
            </picture>
            <p class="lead text-justify">Bewegung ist auch f&uuml;r &auml;ltere Menschen wichtig. Nahezu ideal hierf&uuml;r sind die kurzen Wege im Wohnumfeld – egal ob Einkauf, Friseur, Arztbesuch oder die &quot;Hausrunde um den Block&quot;. Der passende Begleiter: ein stabiler Rollator mit Alu- oder Carbonrahmen und gummierten R&auml;dern oder Reifen. Achten Sie zus&auml;tzlich auf das Gewicht – mehr als 8 Kilo sollten es nicht sein – und auf Faltbarkeit! Neben einem belastbaren Einkaufskorb oder einer verschlie&szlig;- und abnehmbaren Tasche ist eine beidseitige Ankipphilfe an den Hinterr&auml;dern Pflicht, um Schwellen, Bordsteine oder eine kleine Stufe sicher zu meistern. Ebenso wichtig ist ein stabiler Sitz, wenn man doch mal etwas l&auml;nger stehen oder warten muss. Der Sitz sollte bequem und die Griffe in der H&ouml;he verstellbar sein. Tipp: Ein anpassbarer R&uuml;ckengurt, eventuell nachr&uuml;stbar, gibt zus&auml;tzlichen Halt und Sicherheit. </p>
        </section>
        <section class="d-inline-block">
            <h3>Der Allesk&ouml;nner: Immer an Ihrer Seite!</h3>

            <p class="lead text-justify">Ob Shopping-Tour, Waldwanderung, Laminatfu&szlig;boden oder das historische Kopfsteinpflaster in der Altstadt: F&uuml;r moderne, hochwertige Rollatoren sollte das kein Problem sein! Leichte, stabile Rahmen aus Carbon oder Aluminium sind rostfrei, verwindungssteif und sehr leicht. Hier sollte auch bei den verstellbaren Teilen nichts klappern – egal auf welchem Untergrund Sie unterwegs sind. Hochwertige Bremssysteme garantieren in Verbindung mit passenden Reifen ein sicheres Stoppen, die Feststellbremse l&auml;sst sich leicht bet&auml;tigen und ohne haken wieder l&ouml;sen. Stichwort Reifen: Die R&auml;der sollten einfach zu wechseln sein, so dass im Bedarfsfall das leicht lenkbare Fahrwerk dem Verwendungszweck angepasst werden kann! In der Regel bieten Hersteller hochwertiger Rollatoren umfangreiches und sinnvolles Originalzubeh&ouml;r wie Trinkflaschen, Stockhalter, R&uuml;ckengurt oder Regenschutz.</p>
        </section>
        <section class="d-inline-block">
            <h3>Abseits des Weges: Sicherheit, Abstellen und Transport</h3>
            <picture>
                <source srcset="{{ asset('build/media/router_front_web_small.webp') }}" type="image/webp">
                <source srcset="{{ asset('build/media/router_front_web_small.jp2') }}" type="image/jp2">
                <img src="{{ asset('build/media/router_front_web_small.jpg') }}" alt="" class="float-left img-thumbnail w-25 m-4" />
            </picture>
            <p class="lead text-justify">&quot;In der Nacht sind alle Katzen grau&quot; gilt im Stra&szlig;enverkehr vor allem in der dunklen Jahreszeit. Deshalb ist das Sehen und Gesehen werden auch f&uuml;r Rollatoren wichtig. Eine gute L&ouml;sung sind Lichtanlagen mit D&auml;mmerungssensor und gut sichtbare Reflektoren rundum. Auch eine Klingel kann nicht schaden!
                In Sachen Transport ist neben dem Gewicht vor allem die Faltbarkeit wichtig. Tipp: Auf L&auml;ngsfaltung achten! Der Rollator sollte ohne Kraftaufwand mit einem Handgriff zusammenklappbar sein. Bei L&auml;ngsfaltung bleibt er zudem von alleine stehen. Hierbei ist auch die Transportsicherung ein unverzichtbares Detail des Rollators – sonst k&ouml;nnte er beim Einladen wieder auseinanderklappen. Eine Diebstahlsicherung und gegebenenfalls eine entsprechende Versicherung k&ouml;nnen zudem nicht schaden.
            </p>
        </section>
        <section>
            <h3>Beratung, Reparatur & Service: Warum billig nicht zwangsl&auml;ufig gut ist</h3>

            <p class="lead text-justify">Das &quot;Schn&auml;ppchen&quot; aus der Discounter-Reklame kann mit T&Uuml;V-Siegel und Super-Billigpreis aufwarten? Das muss kein Nachteil sein, wenn man an einen Rollator nicht t&auml;glich und auf lange Zeit nutzen m&ouml;chte. Aber: Sp&auml;testens bei der Reparatur von g&uuml;nstigen Radlagern oder sich lockernden Rahmenverbindungen h&ouml;rt die Freude &uuml;bers vermeintlich gesparte Geld auf. Denn dann bemerkt man, warum so manches Ger&auml;t tats&auml;chlich so g&uuml;nstig war. Passende Ersatzteile, wie etwa Wechselr&auml;der, finden sich beim Discounter leider nicht. Und  Reparaturen – so sich alternative Ersatzteile &uuml;berhaupt verbauen lassen – kosten meist mehr als der Rollator selbst. Solche Probleme gibt´s im Fachhandel nat&uuml;rlich nicht, zumal das Hilfsmittel auf Ihre Bed&uuml;rfnisse auch gleich eingerichtet wird. Und Fragen kann man Ihnen hier nat&uuml;rlich auch beantworten!</p>
        </section>
    </article>
    <div class="d-flex justify-content-between my-4 border-top">
        <a href="{{ path('home') }}" title="Startseite" class="btn btn-lg btn-link"><i class="pt-1 fas fa-chevron-left"></i>  zur Startseite</a>
    <a href="{{ path('scooter-advice') }}" title="Kaufberatung f&uuml;r Elektromobile" class="btn btn-lg btn-link">zur Kaufberatung f&uuml;r Elektromobile <i class="pt-1 fas fa-chevron-right"></i> </a>
    </div>
</div>
{% endblock %}