<div class="row my-2">
    <div class="col-12 animation-element slide-left">
        <div class="bg-blue slider-left">
            <div class="header">
                <h3 class="text-uppercase p-3">Avantgarde DV</h3>
            </div>
        </div>
    </div>
</div>
<div class="row featurette">
    <div class="col-12 col-md-5 animation-element slide-left">
        <div class="box20">
            <picture>
                <source srcset="{{ asset('media/avantgarde_dv_web_small.webp') }}" media="(max-width: 575.98px)" type="image/webp">
                <source srcset="{{ asset('media/avantgarde_dv_web_small.jp2') }}" media="(max-width: 575.98px)" type="image/jp2">
                <source srcset="{{ asset('media/avantgarde_dv_web_small.jpg') }}" media="(max-width: 575.98px)" type="image/jpg">
                <source srcset="{{ asset('media/avantgarde_dv_web.webp') }}" media="(min-width: 576px)" type="image/webp">
                <source srcset="{{ asset('media/avantgarde_dv_web.jp2') }}" media="(min-width: 576px)" type="image/jp2">
                <img src="{{ asset('media/avantgarde_dv_web.jpg') }}" class="img-fluid mx-auto" />
            </picture>
            <div class="d-none d-md-inline-block more">
                <i class="fas fa-info-circle"></i>
            </div>
            <div class="d-none d-md-inline-block box-content">
                <h3 class="title">Ottobock Avantgarde DV</h3>
                <span class="post">Technische Daten:</span>
                <ul>
                    <li>HMV-Nummer 18.50.03.0224</li>
                    <li>Sitzbreite 320 - 500 mm</li>
                    <li>Sitztiefe 360 - 520 mm</li>
                    <li>Sitzhöhe vorn 390 - 550 mm</li>
                    <li>Sitzhöhe hinten 360 - 510 mm</li>
                    <li>Rückenhöhe 250 - 500 mm</li>
                    <li>Unterschenkellänge 	160 - 510 mm</li>
                    <li>Gesamtlänge 720 - 1040 mm</li>
                    <li>Gesamtbreite 490 - 725 mm</li>
                    <li>Gesamthöhe 	580 - 1100 mm</li>
                    <li>Faltmaß ab 260 mm</li>
                    <li>Max. Zuladung 100 / 140 kg</li>
                    <li>Gewicht ab ca. 9 kg</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-7">
        <h2 class="featurette-heading">Ottobock Avantgarde DV</h2>
        <p class="lead">Der Avantgarde DV steht für Leichtigkeit – ohne Kompromisse! Denn auf bewährte Vorteile der Avantgard-Serie von Otto Bock, wie etwa abnehm- und wegschwenkbare Beinstützen, muss man nicht verzichten.</p>
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-general-tab" data-toggle="tab" href="#nav-general" role="tab" aria-controls="nav-general" aria-selected="true" title="Hauptmerkmale"><i class="fas fa-home"></i> <span class="">Hauptmerkmale</span> </a>
                <a class="nav-item nav-link" id="nav-options-tab" data-toggle="tab" href="#nav-options" role="tab" aria-controls="nav-options" aria-selected="false" title="Optionen"><i class="fab fa-accessible-icon"></i> <span class="">Optionen</span> </a>
                <a class="nav-item nav-link d-md-none" id="nav-technical-tab" data-toggle="tab" href="#nav-technical" role="tab" aria-controls="nav-technical" aria-selected="false"><i class="fas fa-cog"></i> <span class="">Technische Daten</span> </a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-general" role="tabpanel" aria-labelledby="nav-general-tab">
                <ul class="py-4">
                    <li>Hohe Anzahl Antriebsradpositionen</li>
                    <li>Nach innen und außen schwenkbare, abnehmbare Fußrastenhalter</li>
                    <li>Variabilität durch eine Vielzahl an Optionen</li>
                    <li>Minimierte Verwindungskräfte im Rahmen</li>
                    <li>Schwenksegment über Hebel leicht auslösbar</li>
                </ul>
            </div>
            <div class="tab-pane fade" id="nav-options" role="tabpanel" aria-labelledby="nav-options-tab">
                <ul class="py-4">
                    <li>Fest verschweißte Antriebsradposition und auf Maß gebogene Rückenrohre</li>
                    <li>CLT-Kreuzstebe (-300 g)</li>
                    <li>Seitenteile aus Carbon</li>
                    <li>Verschiedene Rückenbespannungen</li>
                    <li>Verschiedene Schiebegriffe</li>
                    <li>Verschiedene Seitenteile</li>
                    <li>Verschiedene Antriebsradfelgen</li>
                    <li>Verschiedene Greifreifen</li>
                    <li>Radstandsverlängerung inkl. Bremsadapter</li>
                    <li>Scherenbremse</li>
                    <li>Shock Absorber</li>
                    <li>Verschiedene Lenkräder / Lenkradgabeln</li>
                    <li>Kippschutz</li>
                    <li>Ankipphilfe</li>
                </ul>
            </div>
            <div class="tab-pane fade d-md-none" id="nav-technical" role="tabpanel" aria-labelledby="nav-technical-tab">
                <ul class="py-4">
                    <li>HMV-Nummer 18.50.03.0224</li>
                    <li>Sitzbreite 320 - 500 mm</li>
                    <li>Sitztiefe 360 - 520 mm</li>
                    <li>Sitzhöhe vorn 390 - 550 mm</li>
                    <li>Sitzhöhe hinten 360 - 510 mm</li>
                    <li>Rückenhöhe 250 - 500 mm</li>
                    <li>Unterschenkellänge 	160 - 510 mm</li>
                    <li>Gesamtlänge 720 - 1040 mm</li>
                    <li>Gesamtbreite 490 - 725 mm</li>
                    <li>Gesamthöhe 	580 - 1100 mm</li>
                    <li>Faltmaß ab 260 mm</li>
                    <li>Max. Zuladung 100 / 140 kg</li>
                    <li>Gewicht ab ca. 9 kg</li>
                </ul>
            </div>
        </div>
    </div>
</div>