<div class="row my-2">
    <div class="col-12 animation-element slide-left">
        <div class="bg-blue slider-left">
            <div class="header">
                <h3 class="text-uppercase p-3">Motus</h3>
            </div>
        </div>
    </div>
</div>
<div class="row featurette">
    <div class="col-12 col-md-5 animation-element slide-left">
        <div class="box20">
            <picture>
                <source srcset="{{ asset('build/media/motus_web_small.webp') }}" media="(max-width: 575.98px)" type="image/webp">
                <source srcset="{{ asset('build/media/motus_web_small.jp2') }}" media="(max-width: 575.98px)" type="image/jp2">
                <source srcset="{{ asset('build/media/motus_web_small.jpg') }}" media="(max-width: 575.98px)" type="image/jpg">
                <source srcset="{{ asset('build/media/motus_web.webp') }}" media="(min-width: 576px)" type="image/webp">
                <source srcset="{{ asset('build/media/motus_web.jp2') }}" media="(min-width: 576px)" type="image/jp2">
                <img src="{{ asset('build/media/motus_web.jpg') }}" class="img-fluid mx-auto" />
            </picture>
            <div class="d-none d-md-inline-block more">
                <i class="fas fa-info-circle"></i>
            </div>
            <div class="d-none d-md-inline-block box-content">
                <h3 class="title">Ottobock Motus</h3>
                <span class="post">Technische Daten:</span>
                <ul>
                    <li>Rahmenmaterial 	Aluminium</li>
                    <li>Produktgewicht 	ab 12 kg (abh&auml;ngig von Optionen)</li>
                    <li>Schwerpunktverstellung 	48 Positionen &uuml;ber Antriebsradadapter einstellbar</li>
                    <li>Max. Benutzergewicht</li>
                    <ul>
                        <li>125 kg (bis SB 480 mm)</li>
                        <li>140 kg (ab SB 505 mm)</li>
                    </ul>
                    </li>
                    <li>R&uuml;ckenh&ouml;he 	300–500 mm</li>
                    <li>Sitzbreite 	355–555 mm</li>
                    <li>Sitztiefe 	360–540 mm</li>
                    <li>Unterschenkell&auml;nge 	340–520 mm</li>
                    <li>Breite
                        <ul>
                            <li>Antriebsrad mit Kniehebelbremse 520–720 mm</li>
                            <li>Antriebsrad mit Trommelbremse 555–755 mm</li>
                        </ul>
                    </li>
                    <li>L&auml;nge 	805–1110 mm</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-7">
        <h2 class="featurette-heading">Ottobock Motus</h2>
        <p class="lead">Der Motus ist ein Adaptivrollstuhl, der sich Ihren individuellen Bed&uuml;rfnissen entsprechend einstellen l&auml;sst.
            Die schwenkbaren Fu&szlig;rasten und die h&ouml;henverstellbare R&uuml;ckenlehne lassen sich schnell verstellen und sorgen so f&uuml;r bequemeres Sitzen (Motus CV).
            Optional erhalten Sie Ihren Motus mit kompaktem, festem Vorderrahmen und durchgehender Fu&szlig;raste aus Aluminium (Motus CS).
            &Uuml;brigens: Transport und Lagerung kann der Motus schnell zusammengelegt werden , das spart Zeit und Energie.</p>
        <p class="d-md-none">
            <button class="btn btn-link-red" data-toggle="collapse" data-target="#motus-technical">Technische Details <i class="fas fa-caret-down"></i> </button>
        </p>
        <ul class="collapse d-md-inline-block" id="motus-technical">
            <li>Rahmenmaterial 	Aluminium</li>
            <li>Produktgewicht 	ab 12 kg (abh&auml;ngig von Optionen)</li>
            <li>Schwerpunktverstellung 	48 Positionen &uuml;ber Antriebsradadapter einstellbar</li>
            <li>Max. Benutzergewicht</li>
            <ul>
                <li>125 kg (bis SB 480 mm)</li>
                <li>140 kg (ab SB 505 mm)</li>
            </ul>
            </li>
            <li>R&uuml;ckenh&ouml;he 	300–500 mm</li>
            <li>Sitzbreite 	355–555 mm</li>
            <li>Sitztiefe 	360–540 mm</li>
            <li>Unterschenkell&auml;nge 	340–520 mm</li>
            <li>Breite
                <ul>
                    <li>Antriebsrad mit Kniehebelbremse 520–720 mm</li>
                    <li>Antriebsrad mit Trommelbremse 555–755 mm</li>
                </ul>
            </li>
            <li>L&auml;nge 	805–1110 mm</li>
        </ul>
    </div>
</div>