<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Mobilit&auml;t - weil dabei sein wichtig ist!{% endblock %}</title>
        {% block stylesheets %}
           <link rel="stylesheet" href="{{ asset('build/global.css.gz') }}">
        {% endblock %}
    </head>
    <body>
        <div class="siegel d-none d-md-flex">
            <picture>
                <source srcset="{{ asset('media/testsiegel_web.webp') }}" type="image/webp">
                <source srcset="{{ asset('media/testsiegel_web.jp2') }}" type="image/jpeg2000">
                <img src="{{ asset('media/testsiegel_web.jpg') }}" class="img-fluid" width="175" />
            </picture>
        </div>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('build/runtime.js.gz') }}"></script>
           <script type="text/javascript" src="{{ asset('build/app.js.gz') }}"></script>
        {% endblock %}
    </body>
</html>
