
<div id="carouselExampleControls" class="carousel slide pt-4" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleControls" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleControls" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="row">
                <div class="col-12 col-md-4 col-sm-6">
                    <div class="rotating-card card-container">
                        <div class="card">
                            <div class="front">
                                <div class="cover">
                                    <picture>
                                        <source srcset="{{ asset('build/media/banner_bewegt_web.webp') }}" type="image/webp">
                                        <source srcset="{{ asset('build/media/banner_bewegt_web.jp2') }}" type="image/jp2">
                                        <img src="{{ asset('build/media/banner_bewegt_web.jpg') }}" />
                                    </picture>
                                </div>
                                <time datetime="2019-08-29">
                                    <span class="day">29</span>
                                    <span class="month">Aug</span>
                                    <span class="year">2019</span>
                                </time>
                                <div class="content">
                                    <div class="main">
                                        <h3 class="name">Sanit&auml;tshaus Aue</h3>
                                        <p class="profession">Altmarkt 11</p>

                                        <p class="text-center">09:00 &ndash; 18:00 Uhr</p>
                                    </div>
                                </div>
                            </div>
                            <div class="back">
                                <div class="header">
                                    <h5 class="motto">Mobilit&auml;t z&auml;hlt.</h5>
                                </div>
                                <div class="content">
                                    <div class="main">
                                        <h4 class="text-center">Aktionstag zur Mobilit&auml;tsoffensive</h4>
                                        <p class="text-center">Da ist es besser, vorab schon gewappnet zu sein!</p>
                                        <p class="text-center">Pr&uuml;fung der Funktionalit&auml;t von</p>
                                        <div class="stats-container">
                                            <div class="stats">
                                                <h4>Radlager</h4>
                                            </div>
                                            <div class="stats">
                                                <h4>Bremsen</h4>
                                            </div>
                                            <div class="stats">
                                                <h4>Rahmen</h4>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="footer">
                                    <div class="social-links text-center">
                                        <a href="https://www.facebook.com/reha.aktiv.gmbh/" class="facebook"><i class="fab fa-facebook fa-2x"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-sm-6">
                    <div class="rotating-card card-container">
                        <div class="card">
                            <div class="front">
                                <div class="cover">
                                    <picture>
                                        <source srcset="{{ asset('build/media/banner_laeuft_web.webp') }}" type="image/webp">
                                        <source srcset="{{ asset('build/media/banner_laeuft_web.jp2') }}" type="image/jp2">
                                        <img src="{{ asset('build/media/banner_laeuft_web.jpg') }}" />
                                    </picture>
                                </div>
                                <time datetime="2019-09-11">
                                    <span class="day">11</span>
                                    <span class="month">Sep</span>
                                    <span class="year">2019</span>
                                </time>
                                <div class="content">
                                    <div class="main">
                                        <h3 class="name">Sanit&auml;tshaus Chemnitz</h3>
                                        <p class="profession">Goethestra&szlig;e 5-7</p>

                                        <p class="text-center">10:00 &ndash; 18:00 Uhr</p>
                                    </div>
                                </div>
                            </div>

                            <div class="back">
                                <div class="header">
                                    <h5 class="motto">Mobilit&auml;t z&auml;hlt.</h5>
                                </div>
                                <div class="content">
                                    <div class="main">
                                        <h4 class="text-center">Aktionstag zur Mobilit&auml;tsoffensive</h4>
                                        <p class="text-center">Da ist es besser, vorab schon gewappnet zu sein!</p>
                                        <p class="text-center">Pr&uuml;fung der Funktionalit&auml;t von</p>
                                        <div class="stats-container">
                                            <div class="stats">
                                                <h4>Radlager</h4>
                                            </div>
                                            <div class="stats">
                                                <h4>Bremsen</h4>
                                            </div>
                                            <div class="stats">
                                                <h4>Rahmen</h4>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="footer">
                                    <div class="social-links text-center">
                                        <a href="https://www.facebook.com/reha.aktiv.gmbh/" class="facebook"><i class="fab fa-facebook fa-2x"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-sm-6">
                    <div class="rotating-card card-container">
                        <div class="card">
                            <div class="front">
                                <div class="cover">
                                    <picture>
                                        <source srcset="{{ asset('build/media/banner_miteinander_web.webp') }}" type="image/webp">
                                        <source srcset="{{ asset('build/media/banner_miteinander_web.jp2') }}" type="image/jp2">
                                        <img src="{{ asset('build/media/banner_miteinander_web.jpg') }}" />
                                    </picture>
                                </div>
                                <time datetime="2019-09-25">
                                    <span class="day">25</span>
                                    <span class="month">Sep</span>
                                    <span class="year">2019</span>
                                </time>
                                <div class="content">
                                    <div class="main">
                                        <h3 class="name">Sanit&auml;tshaus Mittweida</h3>
                                        <p class="profession">Markt 8</p>

                                        <p class="text-center">09:00 &ndash; 18:00 Uhr</p>
                                    </div>
                                </div>
                            </div>

                            <div class="back">
                                <div class="header">
                                    <h5 class="motto">Mobilit&auml;t z&auml;hlt.</h5>
                                </div>
                                <div class="content">
                                    <div class="main">
                                        <h4 class="text-center">Aktionstag zur Mobilit&auml;tsoffensive</h4>
                                        <p class="text-center">Da ist es besser, vorab schon gewappnet zu sein!</p>
                                        <p class="text-center">Pr&uuml;fung der Funktionalit&auml;t von</p>
                                        <div class="stats-container">
                                            <div class="stats">
                                                <h4>Radlager</h4>
                                            </div>
                                            <div class="stats">
                                                <h4>Bremsen</h4>
                                            </div>
                                            <div class="stats">
                                                <h4>Rahmen</h4>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="footer">
                                    <div class="social-links text-center">
                                        <a href="https://www.facebook.com/reha.aktiv.gmbh/" class="facebook"><i class="fab fa-facebook fa-2x"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row">
            <div class="col-12 col-md-4 offset-md-2 col-sm-6">
                <div class="rotating-card card-container">
                    <div class="card">
                        <div class="front">
                            <div class="cover">
                                <picture>
                                    <source srcset="{{ asset('build/media/banner_bewegt_web.webp') }}" type="image/webp">
                                    <source srcset="{{ asset('build/media/banner_bewegt_web.jp2') }}" type="image/jp2">
                                    <img src="{{ asset('build/media/banner_bewegt_web.jpg') }}" />
                                </picture>
                            </div>
                            <time datetime="2019-09-27">
                                <span class="day">27</span>
                                <span class="month">Sep</span>
                                <span class="year">2019</span>
                            </time>
                            <div class="content">
                                <div class="main">
                                    <h3 class="name">Sanit&auml;tshaus Zwickau</h3>
                                    <p class="profession">Galileistra&szlig;e 1</p>

                                    <p class="text-center">09:00 &ndash; 17:00 Uhr</p>
                                </div>
                            </div>
                        </div>

                        <div class="back">
                            <div class="header">
                                <h5 class="motto">Mobilit&auml;t z&auml;hlt.</h5>
                            </div>
                            <div class="content">
                                <div class="main">
                                    <h4 class="text-center">Aktionstag zur Mobilit&auml;tsoffensive</h4>
                                    <p class="text-center">Da ist es besser, vorab schon gewappnet zu sein!</p>
                                    <p class="text-center">Pr&uuml;fung der Funktionalit&auml;t von</p>
                                    <div class="stats-container">
                                        <div class="stats">
                                            <h4>Radlager</h4>
                                        </div>
                                        <div class="stats">
                                            <h4>Bremsen</h4>
                                        </div>
                                        <div class="stats">
                                            <h4>Rahmen</h4>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="footer">
                                <div class="social-links text-center">
                                    <a href="https://www.facebook.com/reha.aktiv.gmbh/" class="facebook"><i class="fab fa-facebook fa-2x"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 col-sm-6">
                <div class="rotating-card card-container">
                    <div class="card">
                        <div class="front">
                            <div class="cover">
                                <picture>
                                    <source srcset="{{ asset('build/media/banner_laeuft_web_small.webp') }}" media="(max-width: 575.98px)" type="image/webp">
                                    <source srcset="{{ asset('build/media/banner_laeuft_web.webp') }}" media="(min-width: 576px)" type="image/webp">
                                    <source srcset="{{ asset('build/media/banner_laeuft_web_small.jp2') }}" media="(max-width: 575.98px)" type="image/jp2">
                                    <source srcset="{{ asset('build/media/banner_laeuft_web.jp2') }}" media="(min-width: 576px)" type="image/jp2">
                                    <source srcset="{{ asset('build/media/banner_laeuft_web_small.jpg') }}" media="(max-width: 575.98px)" type="image/jpg">
                                    <img src="{{ asset('build/media/banner_laeuft_web.jpg') }}" />
                                </picture>
                            </div>
                            <time datetime="2019-10-04">
                                <span class="day">04</span>
                                <span class="month">Okt</span>
                                <span class="year">2019</span>
                            </time>
                            <div class="content">
                                <div class="main">
                                    <h3 class="name">Sanit&auml;tshaus Burgst&auml;dt</h3>
                                    <p class="profession">Markt 16</p>
                                    <p class="text-center">09:00 &ndash; 17:00 Uhr</p>
                                </div>
                            </div>
                            <div class="footer">
                                <div class="rating">F&uuml;r die Dauer der Rollstuhl&uuml;berpr&uuml;fung stehen Ihnen die neuesten Modelle von Aktivrollst&uuml;hlen der Firma Otto Bock zum Testen zur Verf&uuml;gung.</div>
                            </div>
                        </div>

                        <div class="back">
                            <div class="header">
                                <h5 class="motto">Mobilit&auml;t z&auml;hlt.</h5>
                            </div>
                            <div class="content">
                                <div class="main">
                                    <h4 class="text-center">Aktionstag zur Mobilit&auml;tsoffensive</h4>
                                    <p class="text-center">Da ist es besser, vorab schon gewappnet zu sein!</p>
                                    <p class="text-center">Pr&uuml;fung der Funktionalit&auml;t von</p>
                                    <div class="stats-container">
                                        <div class="stats">
                                            <h4>Radlager</h4>
                                        </div>
                                        <div class="stats">
                                            <h4>Bremsen</h4>
                                        </div>
                                        <div class="stats">
                                            <h4>Rahmen</h4>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="footer">
                                <div class="social-links text-center">
                                    <a href="https://www.facebook.com/reha.aktiv.gmbh/" class="facebook"><i class="fab fa-facebook fa-2x"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>